.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.pokemon{
    margin: 0;
    padding: 1rem 0.5rem 0.5rem 0.75rem;
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    height: 11rem;
}

.title{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 3rem;
    margin-bottom: 0.25rem;
}

.name{
    align-self: end;
    font-size: 1rem;
    font-weight: 900;
}

.number{
    color: black;
    opacity: 0.275;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 1000;
    letter-spacing: -0.15rem;
    margin-right: 0.3rem;
}

.pokemon .details{
    display: flex;
    justify-content: space-between;
}

.pokemon .details .types{
    padding: 0;
    margin: 0;
    list-style: none;
}

.types .type{
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    margin: 0.25rem;
    border-radius: 1rem;
    text-align: center;
    text-transform: capitalize;
}

.normal{
    background-color: #A8A77A;
    filter: brightness(1.1);
}
.fire{
    background-color: #EE8130;
    filter: brightness(1.2);
}
.water{
    background-color: #6390F0;
    filter: brightness(1.2);
}
.electric{
    background-color: #F7D02C;
    filter: brightness(1.1);
    color: #555;
}
.grass{
    background-color: #7AC74C;
    filter: brightness(1.1);
}
.ice{
    background-color: #96D9D6;
    filter: brightness(1.1);
    color: black;
}
.fighting{
    background-color: #C22E28;
    filter: brightness(1.1);
}
.poison{
    background-color: #A33EA1;
    filter: brightness(1.2);
}
.ground{
    background-color: #E2BF65;
    filter: brightness(1.1);
    color: #555;
}
.flying{
    background-color: #A98FF3;
}
.psychic{
    background-color: #F95587;
    filter: brightness(1.3);
}
.bug{
    background-color: #A6B91A;
    filter: brightness(1.1);
}
.rock{
    background-color: #B6A136;
    filter: brightness(1.1);
}
.ghost{
    background-color: #735797;
    filter: brightness(1.2);
}
.dragon{
    background-color: #6F35FC;
    filter: brightness(1.2);
}
.dark{
    background-color: #705746;
    filter: brightness(1.2);
}
.steel{
    background-color: #B7B7CE;
    filter: brightness(1.1);
}
.fairy{
    background-color: #D685AD;
    filter: brightness(1.2);
}

.pokemon div img{
    max-width: 100%;
    align-self: center;
    height: 90px;
    margin-right: 2rem;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0rem;
}

.loadPage{
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 2.4rem;
    color: #555;
    box-shadow: 2px 2px 2px #555;
}

.loadPage:hover{
    border: 0.5px solid #BBB;
    box-shadow: none;
    background-color: #DDD;
    color: #777;
}

@media screen and (min-width: 400px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}